################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/MongoSessionStateStore/obj/Debug
/MongoSessionStateStore/bin/Debug
/packages
/TestApplicationv2_0/bin
/TestApplicationv2_0/obj/Debug
*.user
/TestApplicationv2_0.Tests/bin/Debug
/TestApplicationv2_0.Tests/obj/Debug
/TestApplication_PersonalizedHelpers.Tests/bin/Debug
/TestApplication_PersonalizedHelpers.Tests/obj/Debug
/TestApplication_RAWSerialization/bin
/TestApplication_PersonalizedHelpers/bin
/TestApplication_PersonalizedHelpers/obj/Debug/TestApplication_PersonalizedHelpers.pdb
/TestApplication_PersonalizedHelpers/obj/Debug/TestApplication_PersonalizedHelpers.dll
/TestApplication_PersonalizedHelpers/obj/Debug/TestApplication_PersonalizedHelpers.csprojResolveAssemblyReference.cache
/TestApplication_PersonalizedHelpers/obj/Debug/TestApplication_PersonalizedHelpers.csproj.FileListAbsolute.txt
/TestApplication_PersonalizedHelpers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestApplication_PersonalizedHelpers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestApplication_PersonalizedHelpers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestApplication_PersonalizedHelpers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestApplication_RAWSerialization/obj/Debug
/TestApplication_RAWSerialization.Tests/bin/Debug
/TestApplication_RAWSerialization.Tests/obj/Debug
/TestApplication_RAWSerializationWithoutTypeReference/bin
/TestApplication_RAWSerializationWithoutTypeReference/obj/Debug
