<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Nota: agregue entradas al archivo App.config para la configuración de la aplicación
    que solo se apliquen al proyecto de prueba.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
